<header class="site-header">
    <a class="brand" href="{{@site.url}}">
        <span class="brand-mark">S</span>
        <span class="brand-copy">
            <strong>Samsar</strong>
            <span>Blog</span>
        </span>
    </a>

    <nav class="site-nav">
        <a href="{{@site.url}}">Home</a>
        <a href="https://samsar.one/pricing">Pricing</a>
        <a href="https://app.samsar.one">App</a>
    </nav>
</header>
